<!DOCTYPE HTML>
<html th:fragment="layout (template, menu)">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>FHHF :: WebAppSample</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}"><span></span></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text PARAGRAPH">
                            <a th:href="@{/}">
                                <span th:text="#{msg.home}"></span>
                            </a>
                        </li>
                        <li class="navbar-text PARAGRAPH">
                            <a th:href="@{/list}">
                                <span th:text="#{msg.plist}"></span>
                            </a>
                        </li>
                        <li class="navbar-text PARAGRAPH">
                            <a th:href="@{/{action}/action(action=${1})}">
                                <span th:text="#{msg.addplink}"></span>
                            </a>
                        </li>
                        <li class="navbar-text PARAGRAPH">
                            <a th:href="@{/{action}/action(action=${2})}">
                                <span th:text="#{msg.findplink}"></span>
                            </a>
                        </li>
                        <li class="navbar-text PARAGRAPH">
                            <table>
                                <span th:text="#{msg.language}"></span>
                                <tr>
                                    <td><a th:href="@{''(lang=en)}">Eng&nbsp;</a></td>
                                    <td><a th:href="@{''(lang=es)}">Esp&nbsp;</a></td>
                                    <td><a th:href="@{''(lang=ru)}">Рус</a></td>
                                </tr>
                            </table>
                        </li>
                        <li class="navbar-text PARAGRAPH">
                            <form th:action="@{/logout}" method="post">
                                <input class="btn btn-outline-light btn-sm" type="submit" th:value="#{msg.logout}"/>
                            </form>
                        </li>
                    </ul>    
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="container xd-container">
                <br>
                <br>
                <br>
                <br>
                
                <div class="container">
                    <th:block th:include="${template}"/>
                </div>
                
                <br>
                <br>
            </div>
        </div>
        
        <footer>
            <div class="nav" style="background-color:#585A5B; padding-top:20px; padding-bottom:15px">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="text-muted">FHHF</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="text" style="color:whitesmoke">default users credentials= [u:admin p:admin || u:user p:user]</span>
                        </div>
                        <div class="col-xs-5" style="padding-left:30%">
                            <a href="https://github.com/BalthazRBlake/sample-web-app" target="_blank">
                                <img src="../static/resources/images/github-512.png"
                                     th:src="@{/resources/images/github-512.png}"
                                     alt="www.github.com/BalthazRBlake/sample-web-app"
                                     height="25" width="25"/>    
                            </a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/fabian-humberto-hern%C3%A1ndez-forero-11810a78/?locale=en_US" target="_blank">
                                <img src="../static/resources/images/linkedin-icon-eps-29.jpg"
                                     th:src="@{/resources/images/linkedin-icon-eps-29.jpg}"
                                     alt="www.linkedin.com/in/fabian-humberto-hern%C3%A1ndez-forero-11810a78/?locale=en_US"
                                     height="25" width="25"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>