<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'editForm')}">

    <body>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h1 th:text="#{msg.edit}"></h1>
                
                <form th:Object="${person}" action="#" th:action="@{/{id}/updatePerson(id=${person.idPerson})} "method="POST">
                    <table class="table">
                        <tr>
                            <td><label th:text="#{msg.name}"/></td>
                            <td><input type="text" th:field="*{name}" /></td>
                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                        </tr>
                        <tr>
                            <td><label th:text="#{msg.surname}"/></td>
                            <td><input type="text" th:field="*{surname}"/></td>
                            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
                        </tr>
                        <tr>
                            <td><label th:text="#{msg.email}"/></td>
                            <td><input type="text" th:field="*{email}"/></td>
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">eMail Error</td>
                        </tr>
                        <tr>
                            <td><label th:text="#{msg.phone}"/></td>
                            <td><input type="text" th:field="*{phone}"/></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-primary" th:text="#{msg.update}"/>
                            </td>
                            <td th:if="${#authentication.name != 'admin'}">
                                <a class="btn btn-primary" th:href="@{/{id}/deletePerson(id=${person.idPerson})}" th:text="#{msg.delete}"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <br>
        <br>
    </body>
</html>