<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'find')}">

    <body>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <form th:Object="${person}" action="#" th:action="@{/findPerson}" method="POST">
                    <table class="table">
                        <tr>
                            <td><label th:text="#{msg.id}"/></td>
                            <td><input type="number" th:field="*{idPerson}"/></td>
                        </tr>
                        <tr>
                            <td><input type="submit" th:value="#{msg.find}"/></td>
                        </tr>
                    </table>
                </form>

                <p th:text="${found}"></p>
                <table class="table">
                    <tr>
                        <td th:text = "${person.idPerson}"></td>
                        <td>
                            <a th:href="@{/{id}/edit(id=${person.idPerson})}" th:text="${person.name}"></a>
                        </td>
                        <td th:text = "${person.surname}"></td>
                        <td th:text = "${person.email}"></td>
                        <td th:text = "${person.phone}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <br>
    </body>
</html>