<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:fragment="copy">
            <p><a href="/">Home</a></p>

            <table>
                <tr>
                    <td><a th:href="@{''(lang=en)}">Eng</a></td>
                    <td><a th:href="@{''(lang=es)}">Esp</a></td>
                    <td><a th:href="@{''(lang=ru)}">Рус</a></td>
                </tr>
            </table>

            <br>
            
            <a href="https://github.com/BalthazRBlake/sample-web-app" target="_blank">
                <img src="../static/resources/images/github-512.png"
                     th:src="@{/resources/images/github-512.png}"
                     alt="www.github.com/BalthazRBlake/sample-web-app"
                     height="25" width="25"/>    
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/fabian-humberto-hern%C3%A1ndez-forero-11810a78/?locale=en_US" target="_blank">
                <img src="../static/resources/images/linkedin-icon-eps-29.jpg"
                     th:src="@{/resources/images/linkedin-icon-eps-29.jpg}"
                     alt="www.linkedin.com/in/fabian-humberto-hern%C3%A1ndez-forero-11810a78/?locale=en_US"
                     height="25" width="25"/>
            </a>
        </div>
    </body>
</html>