<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:text="#{msg.welcome}"></h1>

        <p>
            <span th:text="#{msg.plist}"></span>
            <a href="/list"> List</a>
        </p>

        <p>
            <span th:text="#{msg.addplink}"></span>
            <a th:href="@{/{action}/action(action=${1})}">Add</a>
        </p>

        <p>
            <span th:text="#{msg.findplink}"></span>
            <a th:href="@{/{action}/action(action=${2})}">Find</a>
        </p>

        <div th:insert="~{footer::copy}"></div>
    </body>
</html>