<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:text="#{msg.welcome}"></h1>

        <p>
            <span th:text="#{msg.plist}"></span>
            <a href="/list"> List</a>
        </p>

        <p>
            <span th:text="#{msg.addplink}"></span>
            <a href="/action?action=1">Add</a>
        </p>

        <p>
            <span th:text="#{msg.findplink}"></span>
            <a href="/action?action=2">Find</a>
        </p>

        <table>
            <tr>
                <td><a th:href="@{''(lang=en)}">Eng</a></td>
                <td><a th:href="@{''(lang=es)}">Esp</a></td>
                <td><a th:href="@{''(lang=ru)}">Рус</a></td>
            </tr>
        </table>
    </body>
</html>