<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'people')}">

    <body>
        <br>
        <br>
        <div class="row">
            <div class="col-md-8">
                
                <h1>This is <label th:text="${principal}"/> list</h1>
                
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th><label th:text="#{msg.name}"/></th>
                        <th><label th:text="#{msg.surname}"/></th>
                        <th><label th:text="#{msg.email}"/></th>
                        <th><label th:text="#{msg.phone}"/></th>
                    </tr>
                    <th:block th:each = "per : ${people}">
                        <tr>
                            <td th:text = "${per.idPerson}"></td>
                            <td >
                                <a th:href="@{/{id}/edit(id=${per.idPerson})}" th:text="${per.name}"></a>
                            </td>
                            <td th:text = "${per.surname}"></td>
                            <td th:text = "${per.email}"></td>
                            <td th:text = "${per.phone}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
        <br>
        <br>
    </body>
</html>