<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>People List</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:text="#{msg.welcome}"></h1>
        
        <table>
            <th:block th:each = "per : ${people}">
                <tr>
                    <td th:text = "${per.idPerson}"></td>
                    <td th:text = "${per.name}"></td>
                    <td th:text = "${per.surname}"></td>
                    <td th:text = "${per.email}"></td>
                    <td th:text = "${per.phone}"></td>
                </tr>
            </th:block>
        </table>
        <p><a href="/">Home</a></p>
    </body>
</html>