<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Person Form</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form th:Object="${newPerson}" action="#" th:action="@{/addPerson} "method="POST">
            <table>
                <tr>
                    <td><label th:text="#{msg.name}"/></td>
                    <td><input type="text" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td><label th:text="#{msg.surname}"/></td>
                    <td><input type="text" th:field="*{surname}"/></td>
                </tr>
                <tr>
                    <td><label th:text="#{msg.email}"/></td>
                    <td><input type="text" th:field="*{email}"/></td>
                </tr>
                <tr>
                    <td><label th:text="#{msg.phone}"/></td>
                    <td><input type="text" th:field="*{phone}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" th:value="#{msg.submit}"/></td>
                </tr>
            </table>
        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>