<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'profile')}">

    <body>

        <div class="row">
            <div class="col-md-12">
                <h1 th:text="${#authentication.name}"></h1>

                <div th:if="${#authentication.name != 'admin' and #authentication.name != 'user'}">
                <form th:action="@{/deleteUser}" method="POST">
                    <button type="submit" class="btn btn-primary" th:text="#{msg.delete}"/>
                </form>
            </div>
        </div>

    </body>
</html>